
/* ==========================================================================
   Custom CSS
   ========================================================================== */

body { 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: .8em;
}

.container {
  width: 750px;
  margin: auto;
}

.time {
  clear: both;
  height: 30px;
  line-height: 0px;
  float: left;
}

.time p {
  float: right;
}

.time small {
  color: #888888;
}

.calendar {
  width: 620px;
  height: 720px;
  padding: 0 10px;
  margin: auto;
  margin-top: 100px;
  background-color: #E0E0E0;
}

.calendar .entry {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 4px solid #336699;
  padding: 5px;
  position: absolute;
  overflow: auto;
  background-color: #fff;
}
